/* Reset some default styles */
body, h1, p, label, input, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0; /* Light blue background for body */
    text-align: center;
    color: black; /* Set the default text color to black */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

main {
    background-color: #fff; /* White background for the main content */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 400px;
}

.purchase-row {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 10px;
    font-weight: normal;
    font-size: 14px;
}

.input-field {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

#result-container {
    margin-top: 20px;
}

#average-price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#purchase-values-list {
    list-style-type: none;
    padding-left: 0;
}

#purchase-values-list li {
    font-weight: normal;
    color: #333;
}



/* EMI Calculator Styles */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.calculate-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calculate-button:hover {
    background-color: #555;
}

.result-container {
    margin-top: 20px;
}

.emi-table {
    width: 100%;
    border-collapse: collapse;
}

.emi-table th, .emi-table td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ccc;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

